<!DOCTYPE>
<html>
    <head>
      <title>RoR Tutorial sample app | Contact</title>
    </head>

     <body>
    <h1>Contact</h1>
        <p>
          This is the home for the <a href="http://regulus.si/notes">RoR tutorial</a>
         sample application
        </p>
     </body>
</html>

